@{
	Layout = "_Layout";
	ViewData["Title"] = "Выбор типа";
}

<h2 class="display-4 col-12">Регистрация объекта</h2>

<div class="card-deck mt-3">
	@foreach (var item in ViewBag.ApartmentTypes)
	{
		<div class="col-sm-6 col-md-4 mb-3">
			<div class="card h-100">
				<img src="@item.PhotoUrl" alt="Изображение не найдено" height="300" class="card-img-top text-center" style="object-fit:cover" />

				<div class="card-body">
					<small class="card-text text-justify">@item.Description</small>
				</div>
				<form asp-action="Initialize" asp-controller="Create">

					<div class="form-group col-12">
						<input type="hidden" name="apartmentType" value="@item.Id" />
						<input type="submit" value="@item.Name" class="btn btn-primary btn-block" />
					</div>
				</form>
			</div>
		</div>
	}
</div>

<div class="row">
	
	
</div>

@if ((bool)ViewData["Exist"])
{
	<div class="col-sm-8">
		<a asp-controller="Edit" asp-action="BasicInfo" asp-route-id="@ViewData["Id"]" class="btn btn-success">Продолжить предыдущую регистрацию</a>

	</div>
	
}

