@{ 
    Layout = "_Layout";
}
<div class="row justify-content-center">
    <div class="col-sm-3">
        <div class="list-group ">
            <a asp-area="Account" asp-action="Index" asp-controller="Home" class="list-group-item list-group-item-action @(ViewData["Title"].ToString() == "Info" ? "active" : "")">Информация</a>
            <a asp-area="Account" asp-action="Index" asp-controller="Security" class="list-group-item list-group-item-action @(ViewData["Title"].ToString() == "Security" ? "active" : "")">Защита</a>
            <a asp-area="Account" asp-action="Index" asp-controller="Reservations" class="list-group-item list-group-item-action @(ViewData["Title"].ToString() == "Email notifications" ? "active" : "")">Уведомления</a>
            <a asp-area="Account" asp-action="Index" asp-controller="Apartments" class="list-group-item list-group-item-action @(ViewData["Title"].ToString() == "Preferences" ? "active" : "")">Настройки</a>
            <a asp-area="Account" asp-action="Index" asp-controller="Wallets" class="list-group-item list-group-item-action @(ViewData["Title"].ToString() == "Wallet" ? "active" : "")">Кошелек</a>
        </div>
    </div>
    <div class="col-sm-9">
        @RenderBody()
    </div>
</div>