@model BookingLikeApp.Models.User
@addTagHelper *, BookingLikeApp

@{
	ViewData["Title"] = "Информация";
}
<div class="list-group-flush list-group">
	<div class="list-group-item">
		<div class="col-sm-12">
			<div class="row justify-content-center align-items-start flex-grow-1">

			</div>
			
			<div class="row align-items-end">
				<a data-toggle="modal" href="#user_pfp_modal" role="button" id="profile_image_container">
					<profile-picture image-size="100" img-url="@Model.PFPUrl"></profile-picture>
				</a>
				<div aria-hidden="true">
					<div class="modal fade" data-toggle="modal" id="user_pfp_modal">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h2 class="modal-title">Изменение профиля</h2>
								</div>
								<div class="modal-body">
									<div class="col-sm-8">
										<img src="@Model.PFPUrl" id="image_example" width="250" height="250" alt="Изображение не выбрано" style="object-fit: cover" />
									</div>
									<input type="file" name="imageInput" class="form-control-file col-12 mt-3" />
									<div class="col-sm-8 mt-3">
										<button type="button" class="btn btn-danger btn-block mt-3" id="delete_image">Удалить</button>
									</div>
									<div class="btn-group col-8 mt-3">
										<button type="button" class="btn btn-success btn-group-toggle" id="update_image">Подтвердить</button>
										<button type="button" data-dismiss="modal" class="btn btn-secondary btn-group-toggle">Закрыть</button>
									</div>
									<div>
										<span class="alert-danger" name="pfp_alert"></span><br />
									</div>
									<div>
										<span class="alert-success" name="pfp-success"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<h2 class="display-3 mb-0 pb-0">@Model.UserName</h2>
			</div>
			<div class="row mt-3">
				<div class="col-sm-4">
					<div class="form-group">
						<label class="col-form-label">Отображаемое имя</label>
						<input type="text" name="DisplayName" id="display_name" class="form-control" value="@Model.DisplayName" />
					</div>
					<div class="form-group">
						<input type="hidden" class="form-control" name="Gender" id="gender" value="@Model.Gender" />
						<label class="col-form-label d-block">Гендер</label>
						<div class="btn-group" data-toggle="buttons">
							<button type="button" class="btn @(Model.Gender == true ? "btn-primary" : "btn-secondary")" name="genderButton" id="man">Мужчина</button>
							<button type="button" class="btn @(Model.Gender == false ? "btn-primary" : "btn-secondary")" name="genderButton" id="woman">Женчина</button>
						</div>
					</div>
					<div class="form-group">
						<label class="col-form-label">Дата рождения</label>
						<input type="date" name="BirthDay" asp-for="DateOfBirth" id="birth_date" class="form-control" />
					</div>
				</div>
			</div>
		</div>

	</div>
	@*<div class="list-group-item">
		<div class="col-sm-12">
			<h2 class="card-title display-4">Почта</h2>
			<h3 class="font-weight-bold">
				@if (@Model.EmailConfirmed)
				{
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
						<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
					</svg>
				}
				@Model.Email
			</h3>
			<button class="col-sm-4 btn btn-secondary btn-block" data-toggle="modal" data-target="#user_email_modal">Изменить почту</button>
			<div aria-hidden="true">
				<div class="modal fade" id="user_email_modal">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h2 class="modal-title col-sm-12">Изменение почты</h2>
							</div>
							<div class="modal-body">
								<div class="col-8">
									<div class="form-group">
										<label class="col-form-label">Новый адрес почты</label>
										<input type="email" name="BirthDate" class="form-control" />
										<span class="alert-danger"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="list-group-item">
		<div class="col-sm-12">
			<h2 class="card-title display-4">Дополнительная верификация</h2>
		</div>
	</div>*@
</div>

@section Scripts {
	<script>
		$(document).ready(function () {

			$("body").on("click", "button[name='genderButton']", function () {

				if ($(this).attr("Id") == "man") {
					fetch("/account/home/GenderUpdate", {
						method: "POST",
						headers: {
							"accept": "application/json",
							"content-type": "application/json"
						},
						body: JSON.stringify(true)
					});
					$("#man").attr("class", "btn btn-primary");
					$("#woman").attr("class", "btn btn-secondary");

				}
				else {
					fetch("/account/home/GenderUpdate", {
						method: "POST",
						headers: {
							"accept": "application/json",
							"content-type": "application/json"
						},
						body: JSON.stringify(false)
					});
					$("#woman").attr("class", "btn btn-primary");
					$("#man").attr("class", "btn btn-secondary");
				} 

				
			});

			$("body").on("change", "#display_name", function () {
				fetch("/account/home/displayNameUpdate", {
					method: "POST",
					headers: {
						"content-type": "application/json"
					},
					body: JSON.stringify($("#display_name").val())
				});
			});

			$("body").on("change", "#birth_date", function () {
				fetch("/account/home/birthDateUpdate", {
					method: "POST",
					headers: {
						"accept": "application/json",
						"content-type": "application/json"
					},
					body: JSON.stringify($("#birth_date").val())
				});
			});

			

			$("body").on("click", "#delete_image", function () {
				fetch("/account/home/deleteImage", {
					method: "DELETE"
				});
				$("#image_example").attr("src", "");
				const content = `
							<div>
								<svg xmlns="http://www.w3.org/2000/svg" width="250" height="250" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
								  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
								  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
								</svg>
							</div>
						`;
				$("#profile_image_container").html(content);
			});

			$("body").on("click", "#update_image", function () {
				const formData = new FormData();
				const fileField = document.querySelector('input[name="imageInput"]');
				formData.append("file", fileField.files[0]);
					fetch("/account/home/updateImage", {
					method: "POST",
					body: formData
				})
					.then(res => res.json())
					.then(res => {
						$("#image_example").attr("src", res.data);
						const content = `
							<div>
								<img src="${res.data}" class="rounded-circle" width="250" height="250"/>
							</div>
						`;
						$("#profile_image_container").html(content);
					})
					.catch(ex => console.log(ex));
				console.log(formData);
			});
		});


	</script>
}
