@model BookingLikeApp.Models.User

@{
	ViewData["Title"] = "Info";
}
<div class="list-group-flush list-group">
	<div class="list-group-item">
		<div class="col-sm-12">
			<h2 class="card-title display-4">Основные данные</h2>
			<div class="row mt-3">
				<div class="col-lg-4 d-flex flex-column">
					<div class="row justify-content-center align-items-start flex-grow-1">
						@if (Model.PFPUrl == null)
						{
							<a data-toggle="modal" href="#user_pfp_modal" role="button">
								<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
									<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
									<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
								</svg>
							</a>
						}
						else
						{
							
							<a data-toggle="modal"  href="#user_pfp_modal" role="button">
								<div style="height: 250px">
									<img src="@Model.PFPUrl" alt="Изображение не найдено" class="h-100 rounded-circle overflow-auto img-fluid"/>

								</div>
							</a>
						}
						<div aria-hidden="true">
							<div class="modal fade" data-toggle="modal" id="user_pfp_modal">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h2 class="modal-title">Изменение профиля</h2>
										</div>
										<div class="modal-body">
											<form asp-action="Avatar" asp-controller="Home" method="post" enctype="multipart/form-data">
												<input type="file" name="file" class="form-control-file col-12" />
												<div class="btn-group col-8 mt-3">
													<input type="submit" value="Подтвердить" class="btn btn-success" />
													<button type="button" data-dismiss="modal" class="btn btn-secondary btn-g">Закрыть</button>
													<span class="alert-danger" name="pfp_alert"></span>
												</div>
											</form>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="mt-3">
						<button class="btn btn-secondary btn-block" data-toggle="modal" data-target="#user_data_modal">Изменить данные профиля</button>
					</div>
					<div aria-hidden="true">
						<div class="modal fade" data-toggle="modal" id="user_data_modal">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h2 class="modal-title col-12">Данные пользователя</h2>
									</div>
									<div class="modal-body">
										<form asp-action="Data" asp-controller="Home" method="post">
											<div class="col-8">
												<div class="form-group">
													<label class="col-form-label">Отображаемое имя</label>
													<input type="text" name="DisplayName" id="display_name" class="form-control" value="@Model.DisplayName" />
													<span class="alert-danger"></span>
												</div>
												<div class="form-group">
													<input type="hidden" class="form-control" name="Gender" id="gender" value="@Model.Gender" />
													<label class="col-form-label d-block">Гендер</label>
													<div class="btn-group btn-group-toggle" data-toggle="buttons">
														<button type="button" class="btn btn-primary @if (Model.Gender == true) Html.Raw("active");" name="genderButton" id="man">Мужчина</button>
														<button type="button" class="btn btn-primary @if (Model.Gender == false) Html.Raw("active");" name="genderButton" id="woman">Женчина</button>
													</div>
													<span class="alert-danger"></span>
												</div>
												<div class="form-group">
													<label class="col-form-label">Дата рождения</label>
													<input type="date" name="BirthDay" asp-for="DateOfBirth" id="birth_date" class="form-control" />
													<span class="alert-danger"></span>
												</div>
												<div class="btn-group mt-3">
													<button type="button" name="changeData" id="change_data" class="btn btn-success">Подтвердить</button>
													<button type="button" data-dismiss="modal" class="btn btn-secondary btn-g">Закрыть</button>
												</div>
												<div class="form-group mt-3">
													<span class="alert-danger" id="data_alert"></span>
													<span class="alert-success" id="data_success"></span>
												</div>

											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<h6 class="mb-0"><b>Имя пользователя</b></h6>
					<h2 class="display-4 mb-0 pb-0">@Model.UserName</h2>
					<h6 class="mt-2 mb-0"><b>Отображаемое имя</b></h6>
					<h2 class="display-4 mt-0 pt-0">@(!String.IsNullOrEmpty(Model.DisplayName) ? Model.DisplayName : @Model.UserName)</h2>


					<div class="row mt-3 align-baseline">
						<div class="col-sm-6">
							<h4>
								<b id="user_gender">
									@if (Model.Gender == null)
									{
										@Html.Raw("Гендер не выбран");
									}
									else
									{
										@(Model.Gender == true ? "Мужчина" : "Женщина")
									}
								</b>
							</h4>
							<p><i>@(Model.DateOfBirth == null ? "Дата рождения не указана" : Model.DateOfBirth)</i></p>
						</div>
						<div class="col-sm-6">
							<h4><b>@Html.DisplayNameFor(o => o.RegistationDate)</b></h4>
							<p><i>@Model.RegistationDate</i></p>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
	@*<div class="list-group-item">
		<div class="col-sm-12">
			<h2 class="card-title display-4">Почта</h2>
			<h3 class="font-weight-bold">
				@if (@Model.EmailConfirmed)
				{
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
						<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
					</svg>
				}
				@Model.Email
			</h3>
			<button class="col-sm-4 btn btn-secondary btn-block" data-toggle="modal" data-target="#user_email_modal">Изменить почту</button>
			<div aria-hidden="true">
				<div class="modal fade" id="user_email_modal">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h2 class="modal-title col-sm-12">Изменение почты</h2>
							</div>
							<div class="modal-body">
								<div class="col-8">
									<div class="form-group">
										<label class="col-form-label">Новый адрес почты</label>
										<input type="email" name="BirthDate" class="form-control" />
										<span class="alert-danger"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="list-group-item">
		<div class="col-sm-12">
			<h2 class="card-title display-4">Дополнительная верификация</h2>
		</div>
	</div>*@
</div>

@section Scripts {
	<script>
		$(document).ready(function () {
			let userDataViewModel = {
				displayName: $("#display_name").val(),
				gender: Boolean($("#gender").val()),
				birthDate: $("#birth_date").val()
			};

			$("body").on("click", "button[name='genderButton']", function () {

				if ($(this).attr("Id") == "man") {
					$("#gender").val(true);
					userDataViewModel.gender = true;
				}
				else if ($(this).attr("Id") == "woman") {
					$("#gender").val(false);
					userDataViewModel.gender = false;
				}
				else {
					$("#gender").val = null;
				}
				console.log($("#gender").val());
			});

			$("body").on("click", "#change_data", function () {
				console.log(userDataViewModel);
				fetch("/Account/home/data", {
					method: "POST",
					headers: {
						"accept": "application/json",
						"content-type": "application/json"
					},
					body: JSON.stringify(userDataViewModel)
				})
					.then(res => res.json())
					.then(data => {
						console.log(data)
						if (data.success) {
							$("#data_success").text(data.message);
						}
						else {
							if (data.target != null) {
								$("#" + data.target).text(data.message);
							}
							else {
								$("#data_alert").text(data.message);
							}
						}
					});
			});
		});


	</script>
}
