@model BookingLikeApp.Models.Apartment
@{
	Layout = "_Layout";
}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item active"><a asp-action="Index" asp-controller="Read">Отели</a></li>
		<li class="breadcrumb-item">@Model.Name</li>
	</ol>
</nav>

<div class="row">
	<div class="col-sm-3 mt-3">
		<div class="list-group">
			<a asp-controller="Edit" asp-action="BasicInfo" asp-route-id="@Model.Id" class="list-group-item list-group-item-action @(Model.Registration?.BasicInfo ?? false ?  "list-group-item-success" : "") @(ViewData["Title"].ToString() == "Общая информация" ? "active" : "")">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
					<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
				</svg>
				Общая информация
			</a>
			<a asp-controller="Number" asp-action="Index" asp-route-id="@Model.Id" class="list-group-item list-group-item-action @(Model.Registration?.Numbers ?? false ?  "list-group-item-success" : "")  @(ViewData["Title"].ToString() == "Номера" ? "active" : "")">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stack" viewBox="0 0 16 16">
					<path d="M14.12 10.163l1.715.858c.22.11.22.424 0 .534L8.267 15.34a.598.598 0 0 1-.534 0L.165 11.555a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.66zM7.733.063a.598.598 0 0 1 .534 0l7.568 3.784a.3.3 0 0 1 0 .535L8.267 8.165a.598.598 0 0 1-.534 0L.165 4.382a.299.299 0 0 1 0-.535L7.733.063z" />
					<path d="M14.12 6.576l1.715.858c.22.11.22.424 0 .534l-7.568 3.784a.598.598 0 0 1-.534 0L.165 7.968a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.659z" />
				</svg>
				Номера
			</a>
			<a asp-controller="Edit" asp-action="Services" asp-route-id="@Model.Id" class="list-group-item list-group-item-action @(Model.Registration?.Services ?? false ?  "list-group-item-success" : "")  @(ViewData["Title"].ToString() == "Услуги" ? "active" : "")">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-fill" viewBox="0 0 16 16">
					<path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z" />
				</svg>	
				Услуги
			</a>
			<a asp-controller="Edit" asp-action="Photos" asp-route-id="@Model.Id" class="list-group-item list-group-item-action @(Model.Registration?.Photos ?? false ?  "list-group-item-success" : "")  @(ViewData["Title"].ToString() == "Фотографии" ? "active" : "")">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-images" viewBox="0 0 16 16">
					<path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
					<path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z" />
				</svg>
				Фотографии
			</a>
			<a asp-controller="Edit" asp-action="Rules" asp-route-id="@Model.Id" class="list-group-item list-group-item-action @(Model.Registration?.Rules ?? false ?  "list-group-item-success" : "")  @(ViewData["Title"].ToString() == "Правила проживания" ? "active" : "")">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-ruled-fill" viewBox="0 0 16 16">
					<path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM3 9h10v1H6v2h7v1H6v2H5v-2H3v-1h2v-2H3V9z" />
				</svg>
				Правила
			</a>
		</div>
		@if(Model.Registration?.IsFinished ?? false || Model.Finished)
			{
			<div class="list-group mt-3">
				<a asp-controller="Edit" asp-action="Enable" asp-route-id="@Model.Id" class="list-group-item list-group-item-action @(ViewData["Title"].ToString() == "Завершение" ? "active" : "")">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
						<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
					</svg>
					Доступ
				</a>
			</div>
			}
		<div class="list-group mt-3">
			<a asp-controller="Delete" asp-action="Index" asp-route-id="@Model.Id" class="list-group-item list-group-item-danger list-group-item-action @(ViewData["Title"].ToString() == "Удаление" ? "active" : "")">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-x-fill" viewBox="0 0 16 16">
					<path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM6.854 7.146L8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 1 1 .708-.708z" />
				</svg>
				Удалить
			</a>
		</div>
	</div>
	<div class="col-sm-9 mt-3">
		@RenderBody()
	</div>
</div>

@section Scripts {
	@await RenderSectionAsync("Scripts", required: false)
}
