@model ApartmentDetailsViewModel
@{
	ViewData["Title"] = "Информация";
}

<div class="card mt-3">
	<div class="card-header">
		<div class="row">
			<div class="col-sm-8">
				<h1 class="card-title">
					<span class="badge badge-success">@Model.Apartment.ApartmentType.Name</span>
					@Model.Apartment.Name
					@for (int i = 0; i < Model.Apartment.Stars; i++)
					{
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
							<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
						</svg>
					}
				</h1>

			</div>
		</div>

	</div>
	<div class="list-group list-group-flush">

		<div class="row">
			@if (Model.Apartment.Photos.Count > 0)
			{
				<div class="col-sm-8">
					<div class="row mx-3 flex-wrap">
						@foreach (var p in Model.Apartment.Photos)
						{
							<div class="col-4 no-gutters my-3">
								<img src="@p.PhotoUrl" class="w-100 h-100 rounded" style="object-fit:cover" />

							</div>
						}
					</div>



				</div>
				<div class="col-sm-4">
					<h5>
						<pre style="white-space: pre-wrap" class="mt-2 card-text">@Model.Apartment.Description</pre>
					</h5>
				</div>
			}
			else
			{
				<div class="col-12">
					<h5>
						<pre style="white-space: pre-wrap" class="mt-2 card-text">@Model.Apartment?.Description</pre>
					</h5>
				</div>
			}

		</div>
		@if (Model.Apartment.AverageScore != null)
		{
			<div class="list-group-item">
				<div class="row">
					<div class="col-sm-8">
						<h2 class="card-title">Средняя оценка пользователей: <b>@Model.Apartment.AverageScore</b></h2>
					</div>
					<div class="col-sm-4">
						<a asp-action="reviews" asp-route-id="@Model.Apartment.Id" class="btn btn-block btn-primary">Посмотреть отзывы на @Model.Apartment.Name</a>
					</div>
				</div>

				<div class="row mt-3">
					@foreach (var s in Model.Apartment.Scores)
					{
						if (s.AvgValue != null)
						{
							<div class="col-sm-4">
								<h4>@s.Name: <b>@s.AvgValue</b></h4>
							</div>

						}
					}
				</div>
			</div>
		}


		<div class="list-group-item">
			<div class="row">
				<div class="col-sm-8">
					<h2><b>@Model.Apartment.Country.Name</b>, <b>@Model.Apartment.City.Name</b> </h2>
					<h4>
						Регистрация заезда:
						<b>@Model.Apartment.ArrivalTimeStarts.ToString("HH:mm") - @Model.Apartment.ArrivalTimeEnds.ToString("HH:mm")</b>
					</h4>
					<h4>
						Регистрация отъезда:
						<b>@Model.Apartment.DepartureTimeStarts.ToString("HH:mm") - @Model.Apartment.DepartureTimeEnds.ToString("HH:mm")</b>
					</h4>
					@*<h4>
						Дней до бронирования для бесплатной отмены:
						<b>@Model.Apartment.DaysUntilCancelEnds</b>
					</h4>
					<h4>
						При отмене бронирования после казанного срока:
						@if (Model.Apartment.CancelPrice)
						{
							<b>Необходимо будет оплатить полную стоимость</b>
						}
						else
						{
							<b>Необходимо будет оплатить Первую ночь</b>
						}
					</h4>*@
				</div>
				<div class="col-sm-4">
					<ul class="alert alert-success list-unstyled">
						@foreach (var s in Model.Apartment.ApartmentServices)
						{
							<li>
								<h5>
									<b>
										@s.Name
									</b>
									@if (s.HavePrice)
									{
										<b>
											- @s.Price руб.
										</b>
									}
								</h5>
								
							</li>
						}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-3 mt-3">
		<div class="card sticky-top" style="top: 50px">
			<div class="card-header bg-warning">
				<h3 class="card-title">Бронирование номера</h3>
			</div>
			<div class="card-body">
				<form asp-action="SearchNumber" asp-controller="Read">
					<input type="hidden" asp-for="Apartment.Id" />
					<div class="form-group">
						<label class="col-form-label">Название</label>
						<input asp-for="Name" class="form-control" />
					</div>
					<div class="form-group">
						<label class="col-form-label">Начало бронирования</label>
						<input type="date" asp-for="Begin" class="form-control" min="@Model.MinDate.ToString("yyyy-MM-dd")" max="@Model.MaxDate.ToString("yyyy-MM-dd")" />
						<label class="col-form-label">Коец бронирования</label>
						<input type="date" asp-for="End" class="form-control" min="@Model.MinDate.ToString("yyyy-MM-dd")" max="@Model.MaxDate.ToString("yyyy-MM-dd")" />
						<span asp-validation-for="End" class="alert-danger"></span>
					</div>
					<button class="btn btn-primary btn-block">Найти номера</button>
				</form>
				@if (Model.EnableReservation)
				{
					<hr>
					<div class="form-group">
						<label class="col-form-label">Итоговая стоимость</label>
						<input type="text" readonly id="final_price" class="form-control" />
					</div>
					<button type="button" id="create_reservation" name="createReservaiton" class="btn btn-success btn-block">Зарезервировать</button>
					<span class="alert-danger" id="reservationResponce"></span>
					<div name="numberReservations" id="number_reservations">

					</div>
				}
			</div>
		</div>
	</div>
	<div class="col-sm-9 mt-3" id="number_list" name="numberList">
	@if (Model.Apartment.Numbers.Count > 0)
	{
			@foreach (var number in Model.Apartment.Numbers.Where(o => o.Enable))
			{
				<div class="card mb-3" name="number" id="number_@number.Id">
					<input type="hidden" id="number_id_@number.Id" name="numberId" value="@number.Id" />
					<div class="card-header">
						<h1><span class="badge badge-secondary">@number.NumberType.Code</span> @number.Name</h1>

					</div>
					<div class="card-body">

						<div class="row">
							@if (number.NumberBeds.Count > 0)
							{
								<div class="col-sm-8">
									<h2 class="card-title">Кровати</h2>
									<div class="row">
										@foreach (var b in number.NumberBeds)
										{
											<div class="col-sm-6">
												<div class="card mt-2 mt-sm-0">
													<div class="col-12">
														<h4>@b.Bed.Name</h4>
														<p>Количество: @b.Quantity</p>
													</div>
												</div>
											</div>
										}
									</div>
								</div>
							}

							<div class="col-sm-4">
								<h2 class="card-title">Информация</h2>
								<ul class="list-unstyled">
									<li><b>Площадь: @number.Area</b></li>
									<li><b>Всего в наличии: @number.NumberEntities.Count</b></li>
								</ul>
							</div>
						</div>

					</div>
					<table class="table table-striped" id="pack_table_@number.Id" name="packTable">
						<thead>
							<tr>
								<td>Пакет</td>
								<td>Услуги</td>
								<td>Количество людей</td>
								<td>Количество Номеров</td>
							</tr>	
						</thead>
						<tbody>
							@foreach (var pack in number.Packs)
							{

								<tr name="pack" id="pack_@pack.Id">
									<input type="hidden" name="packId" value="@pack.Id" />
									<td>
										<h4>@pack.Name</h4>
										<ul class="list-unstyled">
											@foreach (var packService in pack.PackServices)
											{
												<li class=" text-success">
													<p>@number.NumberServices.First(o => o.Id == packService.NumberServiceId).Name <b>@number.NumberServices.First(o => o.Id == packService.NumberServiceId)?.Price</b></p>
												</li>
											}
										</ul>
									</td>
									<td>
									</td>
									<td name="packTenant">
										<div class="form-group">
											<label class="col-form-label">Постояльцы</label>
											<select class="custom-select" name="packTenantId">
												<option value="0">0</option>
												@foreach (var t in pack.PackTenants)
												{
													<option value="@t.Id">@t.Adults взр. + @t.Childrens реб. (@t.Price руб.)</option>
												}
											</select>
										</div>
									</td>
									<td name="count">
										<div class="form-group">
											<label class="col-form-label">Номера</label>
											<select class="custom-select" id="pack_count_@pack.Id" name="count" @(!Model.EnableReservation ? "disabled" : "")>
												@for (int i = 0; i <= number.NumberEntities.Count; i++)
												{
													<option value="@i">@i</option>
												}
											</select>

										</div>
									</td>
								</tr>
							}
						</tbody>
						<tfoot>
							<tr>
								<td>Пакет</td>
								<td>Услуги</td>
								<td>Количество людей</td>
								<td>Количество Номеров</td>
							</tr>
						</tfoot>
					</table>
				</div>
			}

	}
	else
	{
		<div class="card">
			<div class="card-body">
				<h2 class="text-center card-title">Не найдено номеров удовлеторяющих запросу</h2>

			</div>
		</div>
	}
		</div>



</div>

@section Scripts {
	<script>
		$(document).ready(function () {
			let entityReservationsList = [];
			let prices = [];
			@*let begin = new Date($("#Begin").val()).getTime() / 86400000;
			let end = new Date($("#End").val());*@
			let days = (new Date($("#End").val()).getTime() / 86400000) - (new Date($("#Begin").val()).getTime() / 86400000)
			$("body").on("change", "select[name='packTenantId'], select[name='count']", function () {
				let entityReservation = {
					packId: Number($(this).parent().parent().parent().children("input[name='packId']").val()),
					packTenantId: Number($(this).parent().parent().parent().children("td[name='packTenant']").children().first().children("select[name='packTenantId']").val()),
					count: Number($(this).parent().parent().parent().children("td[name='count']").children().first().children("select[name='count']").val()),
				};

				fetch("/apartment/read/price/" + entityReservation.packTenantId, {
					method: "GET",
					headers: {
						"accept": "application/json",
						"content-type": "application/json"
					}
				})
					.then(res => res.json())
					.then(data => {
						let index = entityReservationsList.findIndex(e => entityReservation.packId == String( e.packId));
						let price = data * entityReservation.count;

						if (index < 0) {
							entityReservationsList.push(entityReservation);
							
							prices.push(Number(price));
						}
						else {
							entityReservationsList[index] = entityReservation;
							prices[index] = Number(price);
						}

						let tempPrice = 0;
						for (let i = 0; i < prices.length; i++) {
							tempPrice += prices[i] * (days + 1);
						}

						

						$("#final_price").val(tempPrice);

					});
			});

			$("body").on("change", "select[name='count']", function () {
				let countSum = 0;
				let maxCount = 0;
				let numberId = $(this).parents("div[name='number']").first().children("input[name='numberId']").first().val();
				let packId = $(this).parents("tr[name='pack']").first().children("input[name='packId']").val();
				let packs = $("#pack_table_" + numberId).children("tbody").children();
				let packsArr = [];

				packs.each(function (index, value) {
					packsArr.push({
						count: $(value).children("td[name='count']").children().children("select[name='count']").val(),
						id: $(value).children("input[name='packId']").val()
					});

				});

				maxCount = $(this).children().last().val();

				packsArr.forEach(function (value, index) {
					countSum += Number(value.count);
				});

				packsArr.forEach(function (value, i) {

					$("#pack_count_" + value.id).children().each(function (j, element) {
						if (element.value > Number(maxCount) - Number(countSum) + Number(value.count)) {
							$(this).prop("disabled", true);
						}
						else {
							$(this).prop("disabled", false);
						}
					});
					
				});

			});

			$("body").on("click", "#create_reservation", function () {
				let model = {
					reservationBegin: $("#Begin").val(),
					reservationEnd: $("#End").val(),
					packs: entityReservationsList
				};
				fetch("/apartment/reservation/create", {
					method: "POST",
					headers: {
						"accept": "application/Json",
						"content-type": "application/json"
					},
					body: JSON.stringify(model)
				})
					.then(res => {
						if (!res.ok)
							window.location.replace("/account/auth/login");
						return res.json();
					})
					.then(data => {
						if (data.success) {
							window.location.replace("/apartment/Reservation/info/" + data.reservationId);
						}
						else {
							$("#reservationResponce").text(data.message);
							console.log(data.exception);
						}
					});

			});
		});
	</script>
}
