@model ReservationReadViewModel
@{
	ViewData["Title"] = "Информаия о бронировании";
	Layout = "_ReservationLayout";
}
@foreach (var er in Model.ERDataPacks)
{
	<div class="card mt-3">
		<div class="card-body">
			<div class="row">
				<div class="col-sm-8">
					<h2>Пакет услуг: @er.Pack.Name</h2>
					<h4 class="card-title">Номер: @er.Number.Name</h4>
					<h4>Количество номеров: @er.Count</h4>
				</div>
				<div class="col-sm-4">
					@if (@er.PackTenant.Adults > 0)
					{
						<p>Взрослые: <b>@er.PackTenant.Adults</b></p>
					}
					@if (@er.PackTenant.Childrens > 0)
					{
						<p>Дети: <b>@er.PackTenant.Childrens</b></p>

					}
				</div>
			</div>
		</div>
	</div>
}
