@{
    Layout = "_Layout";
}
<div class="row">
	<div class="col-sm-3">
		<div class="list-group">
			<a asp-action="Index" asp-controller="Users" class="list-group-item list-group-item-action @(ViewData["Title"].ToString() == "Пользователи" ? "active" : "")">Пользователи</a>
			<a asp-action="Index" asp-controller="Apartments" class="list-group-item list-group-item-action @(ViewData["Title"].ToString() == "Отели" ? "active" : "")">Отели</a>
		</div>
		<div class="list-group mt-3">
			<a asp-action="Index" asp-controller="ApartmentTypes" class="list-group-item list-group-item-action @(ViewData["Title"].ToString() == "Типы отелей" ? "active" : "")">Типы отелей</a>
			<a asp-action="Index" asp-controller="NumberTypes" class="list-group-item list-group-item-action @(ViewData["Title"].ToString() == "Типы номеров" ? "active" : "")">Типы номеров</a>
			<a asp-action="Index" asp-controller="Beds" class="list-group-item list-group-item-action @(ViewData["Title"].ToString() == "Типы кроватей" ? "active" : "")">Типы кроватей</a>
			<a asp-action="Index" asp-controller="Rooms" class="list-group-item list-group-item-action @(ViewData["Title"].ToString() == "Комнаты" ? "active" : "")">Комнаты</a>
		</div>
		<div class="list-group mt-3">
			<a asp-action="Index" asp-controller="Cards" class="list-group-item list-group-item-action @(ViewData["Title"].ToString() == "Банковские карты" ? "active" : "")">Банковские карты</a>
		</div>
		<div class="list-group mt-3">
			<a asp-action="Index" asp-controller="Countries" class="list-group-item list-group-item-action @(ViewData["Title"].ToString() == "Страны" ? "active" : "")">Страны</a>
			<a asp-action="Index" asp-controller="Cities" class="list-group-item list-group-item-action @(ViewData["Title"].ToString() == "Города" ? "active" : "")">Города</a>
			<a asp-action="Index" asp-controller="Streets" class="list-group-item list-group-item-action @(ViewData["Title"].ToString() == "Улицы" ? "active" : "")">Улицы</a>
		</div>
	</div>
    <div class="col-sm-9">
        @RenderBody()
    </div>
</div>
