@model ChangePasswordViewModel
@{ 
    ViewData["Title"] = "Security";
}
<h2 class="display-4">Change password</h2>
<form asp-controller="Security" asp-action="ChangePassword" class="col-sm-4">
    <div asp-validation-summary="All" class="alert-danger"></div>
    <div class="form-group">
        <label asp-for="@Model.CurrentPassword" class="col-form-label"></label>
        <input asp-for="@Model.CurrentPassword." class="form-control" />
        <span asp-validation-for="@Model.CurrentPassword" class="alert-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewPassword" class="col-form-label"></label>
        <input asp-for="@Model.NewPassword." class="form-control" />
        <span asp-validation-for="@Model.NewPassword" class="alert-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.ConfirmPassword" class="col-form-label"></label>
        <input asp-for="@Model.ConfirmPassword." class="form-control" />
        <span asp-validation-for="@Model.ConfirmPassword" class="alert-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Confirm" class="btn btn-success"/>
    </div>
</form>
