@model RegisterViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Register";
}

<div class="col-sm-4">
    <h2 class="display-4">Регистрация</h2>
	<p><a asp-action="Login">У вас уже есть аккаунт?</a></p>

    <form asp-controller="Auth" asp-action="Register">
        <div asp-validation-summary="ModelOnly" class="alert-danger"></div>
        <div class="form-group">
            <label asp-for="@Model.UserName" class="col-form-label"></label>
            <input asp-for="@Model.UserName" class="form-control" />
            <span asp-validation-for="@Model.UserName" class="alert-danger"></span>
        </div>
        @*<div class="form-group">
            <label asp-for="@Model.Email" class="col-form-label"></label>
            <input asp-for="@Model.Email" class="form-control" />
            <span asp-validation-for="@Model.Email" class="alert-danger"></span>
        </div>*@
        <div class="form-group">
            <label asp-for="@Model.Password" class="col-form-label"></label>
            <input asp-for="@Model.Password" class="form-control" />
            <span asp-validation-for="@Model.Password" class="alert-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.ConfirmPassword" class="col-form-label"></label>
            <input asp-for="@Model.ConfirmPassword" class="form-control" />
            <span asp-validation-for="@Model.ConfirmPassword" class="alert-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Подтвердить" class="btn btn-success btn-block" />
        </div>
    </form>
</div>
